@charset "utf-8";
*{
    margin: 0;
    padding:0;
    font-family: "Microsoft YaHei";
}
.main{
    max-width: 640px;
    margin:0 auto;
    height: 60rem;
    background-color: #29bde0;
}
img{
    width: 21.3rem;
    height: 24.4rem;
    margin: 1.8rem auto 0.9rem auto;
}
body{
    position: relative;
    text-align: center;
    font-family: "Microsoft YaHei", serif;
}

p{
    color: #FFFFFF;
    font-size: 4rem;
}
@media screen and (max-width: 640px){
    body{
        width:100%;
        font-size: 40%;
    }
}
@media (min-width: 640px){
    .main{
        width:640px;
        font-size: 40%;
    }
}
