@charset "utf-8";
*{
    margin:0;
    padding:0;
    font-family: "Microsoft YaHei";
}

body{
    position: relative;
    max-width: 640px;
    background-color: #f0f0f0;
    margin: 0 auto;
}
.top{
    margin:0 auto;
    background: #29bde0;
    height: 6rem;
    max-width: 640px;
}
.menu{
    position: absolute;
    padding: 2rem 0 0 0.8rem;
}
.down{
    position: relative;
}
.triangle{
    position: absolute;
    top:40%;
    right: 4%;
    width: 0;
    height: 0;
    border-top: 1.5rem solid white;
    border-right: 0 ;
    border-bottom: 1.5rem solid white;
    border-left: 1.5rem solid orange;
    z-index: 22;
}
.header{
    position: relative;
    font-size: 1rem;
    padding:1.5rem 0;
    color: #a3a3a3;
    text-align: center;
    margin: 2.3rem 1rem;
    background-color: white;
}
.header p{
    display: inline-block;
}
.next{
    position: absolute;
    top:25%;
    display: inline-block;
    right: 2%;
    float: right;
    vertical-align: middle;
}
.main{
    font-size: 1rem;
    padding:1rem 0;
    color: #fbb435;
    text-align: center;
    margin: 0 1rem;
    background-color: white;
    border-bottom: 1px #fDE1AE solid;
}
.box{
    width: 100%;
    display: block;
}
.btn1{
    -moz-appearance: none;
    max-width: 70%;
    background-color: #29bde0;
    color:white;
    margin:1rem 1.5rem;
    padding: 2rem 8rem;
    font-size: 1rem;
}
.online{
    font-size: 1rem;
    color: black;
}
.more{
    padding: 1rem auto;
    text-align: center;
}
.circle{
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.4rem;
    background-color: #9a9a9a;
    text-align: center;
}
.circle:hover{
    background-color: #29bde0;
}
@media (max-width: 400px) {
    html {
        background: red;
    }
}

@media (min-width: 401px) and (max-width: 640px) {
    html {
        background: green;
    }
}

@media (min-width: 577px) {
    html {
        background: white;
    }
}